body {
  background-color: ;
  margin: 0px;
}
h1 {
  font-size: 2.7rem;
  padding: 2rem;
  margin-top: 0px;
}

.App {
  font-family: monospace;
  text-align: center;
}
p {
  font-size: 1.5rem;
}

.list {
  list-style: none;
  display: block;
  border: 0px solid;
  margin-right: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 1rem;
  background-color: #a5b4fc;
  border-radius: 0.5rem;
}

button {
  margin: 2rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 0px solid;
  margin-top: 4rem;
  font-weight: bold;
  font-size: medium;
  background-color: #581c87;
  color: white;
  cursor: pointer;
}
.description {
  margin-bottom: 2rem;
  font-size: 1rem;
}
